html, body {
  margin: 0;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}

body {
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 100%);
}

.container {
  margin: 0 auto;
  padding-top: 100px;
  width: 800px;
}

canvas {
  background-color: #e0e0e0;
}

.tools {
  display: flex;
  background-color: #e0e0e0;
  height: 100px;
  margin-top: 10px;
}

.color-tools, .size-tools, .extra-tools {
  height: 100%;
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.color-tools li, .size-tools li {
  border-radius: 50%;
  margin: 0 5px;
}

.color-tools li {
  width: 50px;
  height: 50px;
}

.tools .current {
  box-shadow: 0px 0px 20px 3px #555555;
}

.size-tools li {
  /*background-color: #2c3e50;*/
}

.extra-tools li {
  border: 3px solid #2c3e50;
  border-radius: 50%;
  margin: 0 5px;
  width: 50px;
  height: 50px;
}

.extra-tools .surprise {
  background: radial-gradient(red , yellow, green, cyan, violet);
}

.extra-tools .clear {
  color: #2c3e50;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}


